<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Destino</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        font-family: monospace;
        padding : 10px 30px;
      }
      p { white-space: pre; }
    </style>
</head>
<body>
  <h1>Destino</h1>
  <h3>Redirect to a Ruby gem's GitHub page, if available.</h3>
  <p>
      Usage : GET /<strong>&lt;gem-name&gt;</strong>

    Example : GET <a href="/git-revision">/git-revision</a>
  </p>
  <p>
    ^__^ <a href="https://github.com/narkoz/destino">Source</a>
  </p>
</body>
</html>
